<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <table class="table-striped table-responsive">
                <tbody>
                    <tr>
                        <td>Country Name</td>
                        <td>{{ country.name }}</td>
                    </tr>
                    <tr>
                        <td>Capital</td>
                        <td>{{ country.capital }}</td>
                    </tr>
                    <tr>
                        <td>Region</td>
                        <td>{{ country.region }}</td>
                    </tr>
                    <tr>
                        <td>Sub Region</td>
                        <td>{{ country.subregion }}</td>
                    </tr>
                    <tr>
                        <td>Population</td>
                        <td>{{ country.population }}</td>
                    </tr>
                    <tr>
                        <td>Area</td>
                        <td>{{ country.area }}</td>
                    </tr>
                    <tr>
                        <td>Alpha3Code</td>
                        <td>{{ country.alpha3Code }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>