<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <table class="table-striped table-responsive">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Code</td>
                        <td>Symbol</td>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of currency">
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ item.code }}</td>
                            <td>{{ item.symbol }}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>