// Here you can add other styles
.country{
    background: #fff;
    padding: 20px;
}
table{
    display: inline-table!important;
    margin: 15px;
}
td{
    padding: 10px
}
td{
    border: 1px solid #999;
}
.crumbs
{
    ackground: #fff;
    padding: 10px 36px 15px;
    border-top: 1px solid #ddd;
}